/* Global Resets */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: "Poppins", sans-serif;

	--red: hsl(0, 100%, 74%);
	--green: hsl(154, 59%, 51%);
	--blue: hsl(248, 32%, 49%);
	--grey-text: hsl(246, 25%, 77%);
	--text: hsl(249, 10%, 26%);
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;

	background-image: url(../images/bg-intro-desktop.png);
	background-color: var(--red);
	/* background-blend-mode: screen; */
}

/* container  */
main {
	display: flex;

	flex-direction: column;
	width: 100%;
	padding: 40px 20px 0;
}

main .texts {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;

	align-items: center;
	text-align: center;
	width: 100%;
	margin-bottom: 40px;
}

main .texts h2 {
	font-size: 2rem;
	width: 90%;
}

main .texts p {
	width: 80%;
	line-height: 25px;
}

main .form p.top {
	color: white;
	text-align: center;
	padding: 15px;
	background-color: var(--blue);
	border-radius: 0.5rem;
	box-shadow: var(--text) 0 3px 6px;
	margin-bottom: 15px;
	font-size: 0.9rem;
}

main .form p.top span {
	color: var(--grey-text);
}

main .form form {
	background-color: white;
	padding: 40px;
	border-radius: 0.5rem;
	box-shadow: var(--text) 0 4px 4px;
}

main .form .input {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

main .form .input input {
	width: 100%;
	padding: 15px;
	border: var(--text) solid 1px;
	border-radius: 0.3rem;
}

main .form .input input::placeholder {
	color: var(--text);
}

main .form .input img {
	position: absolute;
	top: 11px;
	right: 20px;
	display: none;
}

main .form .input .show {
	display: initial;
}

main .form .input p {
	color: var(--red);
	font-size: 0.7rem;
	margin-top: 5px;
	text-align: right;
	display: none;
}

main .form .input .display {
	display: initial;
}

main .form button {
	cursor: pointer;
	color: white;
	text-align: center;
	padding: 15px;
	background-color: var(--green);
	border: none;
	border-radius: 0.5rem;
	box-shadow: var(--text) 0 2px 3px;
	margin-bottom: 15px;
	width: 100%;
	text-transform: uppercase;
}

main .form p.bottom {
	text-align: center;
	color: var(--grey-text);
	font-size: 0.7rem;
}

main .form p.bottom span {
	color: var(--red);
}

/* footer */
.attribution {
	font-size: 13px;
	text-align: center;
	color: white;
	padding: 20px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
	text-decoration: none;
}

/* MD - Medium Screen */
@media only screen and (min-width: 765px) {
    body {
        height: 100vh;
    }
	main {
		flex-direction: row;
        padding: 0 120px;
	}

	main .texts {
		width: 50%;
		margin-bottom: 0;
		text-align: left;
		align-items: initial;
	}

	main .texts h2 {
		font-size: 3rem;
		margin-bottom: 20px;
	}
}

/* @timiodulate css template */
